#nav .new-select-div .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

#nav .new-select-div .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #fff;
    width: 214px;
    height: 38px;
    /* border: 1px solid rgb(208, 208, 208);
    border-radius: 15px; */
}

#nav .new-select-div .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(249,22,77); 
    background: linear-gradient(90deg, rgba(249,22,77,1) 0%, rgba(174,22,131,1) 100%);
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
}

#nav .new-select-div .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

#nav .new-select-div .select-styled:active, .new-select-div .select-styled.active {
    /* border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 3px; */
    background: rgb(249,22,77); 
    background: linear-gradient(90deg, rgba(249,22,77,1) 0%, rgba(174,22,131,1) 100%);
    transform: translateY(-10px);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 1, 0.63);
}
#nav .new-select-div .select-styled:active:after, .new-select-div .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
}
#nav .new-select-div .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgb(249,22,77); 
    background: linear-gradient(90deg, rgba(249,22,77,1) 0%, rgba(174,22,131,1) 100%);
    color: #fff;
    border-radius: 10px;
}
#nav .new-select-div .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    /* border-top: 1px solid #6c757d; */
}
#nav .new-select-div .select-options li:hover {
    color: #000;
    transform: scale(0.98);
    /* background: #343a40; */
}
#nav .new-select-div .select-options li[rel="hide"] {
    display: none;
}
